.layout {
  min-height: 100vh;
}

.menuCollapsed {
  /* Estilos para o componente MenuCollapsed */
}

.content {
  margin: 24px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content .table {
  width: 100%;
}

.footer {
  text-align: center;
}
